@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

header{
	height:0.99rem;
	border:#d2d2d2 0.01rem solid;
	.logo{
		width:1.75rem;
		height: 0.66rem;
		background: url(../images/logo.png) no-repeat;
		background-size:100% 100%;
		position: relative;
		left: 0.24rem;
		top: 0.16rem;
		a{
			@extend .block;
		}
	}
	.tel{
		width:3.05rem;
		height: 0.32rem;
		background:url(../images/head-tel.png) no-repeat;
		background-size:100% 100%;
		position:absolute;
		right:0.21rem;
		top: 0.45rem;
		a{
			@extend .block;
		}
	}
}
.banner{
	height:3.32rem;
	background:url(../images/banner.jpg) no-repeat;
	background-size:100% 100%;
}
.sec2{
	position:relative;
	height:4.04rem;
	background:url(../images/sec2.jpg) no-repeat;
	background-size:100% 100%;
	.btn{
		position:absolute;
		left: 3.94rem;
		top: 3.09rem;
		width:1.56rem;
		height: 0.38rem;
	}
}
.sec3{
	position:relative;
	height:5.57rem;
	background:url(../images/sec3.png) no-repeat;
	background-size:100% 100%;
	
}
.sec4{
	position:relative;
	height:7.49rem;
	background:url(../images/sec4.png) no-repeat;
	background-size:100% 100%;
	.btn{
		position:absolute;
		left: 2.71rem;
		top: 6.25rem;
		width:2rem;
		height: 0.5rem;
	}
}
.sec5{
	position:relative;
	height:4.16rem;
	background:url(../images/sec5.png) no-repeat;
	background-size:100% 100%;	
}
.sec6{
	position:relative;
	height:10.4rem;
	background:url(../images/sec6.png) no-repeat;
	background-size:100% 100%;	
	.btn{
		position:absolute;
		left: 2.71rem;
		top: 9.25rem;
		width:2rem;
		height: 0.5rem;
	}
	margin-bottom: 1.02rem;
}
footer{
	border-top:#eee 0.01rem solid;
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	background:#fff;
	nav{
		
		display: flex;
		align-items:center;
		a{
			$i:1;
			@while($i<=3){
				&.nav-#{$i}{
					position:relative;
					color:#979696;
					&::before{
						position:absolute;
						content: "";		
						width:0.56rem;
						height: 0.4rem;	
						left: 50%;	
						margin-left: -0.28rem;
						top: 0.2rem;
						background:url(../images/ico-nav-#{$i}.png) ;
						background-size:100% 100%;
					}
					&.select,&:hover{
						color:#04c4b7;
							&::before{
							position:absolute;
							content: "";		
							width:0.56rem;
							height: 0.4rem;		
							margin-left: -0.28rem;
							top: 0.2rem;
							background:url(../images/ico-nav-#{$i}-h.png) ;
							background-size:100% 100%;
						}
					}					
				}
				$i:$i+1;
			}
			height:0.36rem;
			padding-top: 0.66rem;
			text-align: center;
			display: block;
			font-size: 0.2rem;
			flex:1;			
			
			h3{
				font-weight: normal;
			}
		}
	}
}