@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();
html,body{
	height:100%;
}
body{
	@extend .yahei;	
	overflow-x: hidden;
	font-size:14px;
}
.header{
	
}