@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

.im1{
	background:url(../images/im1.jpg) top center no-repeat;
	height: 500px;
	.ipt-txt{
		position: absolute;
		width:260px;
		height: 56px;
		color:#a5a4a4;
		font-size: 18px;
		outline: none;
	}
	.uname{
		right:20px;
		top: 118px;
	}
	.tel{
		right:20px;
		top: 211px;
	}
	.submit{
		position:absolute;
		display: block;
		width:300px;
		height: 57px;
		top: 320px;
		right: 0;
	}
}
.im2{
	background:url(../images/im2.jpg) top center no-repeat;
	height: 561px;
}
.im3{
	background:url(../images/im3.png) top center no-repeat;
	height: 604px;
}
.im4{
	background:url(../images/im4.png) top center no-repeat;
	height: 1151px;
}
.im5{
	background:url(../images/im5.png) top center no-repeat;
	height: 715px;
	ul{
		position:absolute;
		width:1200px;
		left: 0;
		top: 241px;
		li{
			width:170px;
			height: 165px;
			margin-top: 40px;
			margin-right: 80px;
			float: left;

			a{
				@extend .block;
				color:#fff;
			}
			.icon{
				width:37px;
				height: 46px;
				border-radius: 50%;
				background:#e5e5e5;
				
				line-height: 46px;
				margin: 0 auto;
				font-size: 30px;
				font-style: italic;
				padding-left: 9px
			}
			.tit{
				font-size: 18px;
				color: #2d2d2d;
				line-height: 24px;
				margin: 20px auto;
			}
			.btn{
				width:90px;
				height: 26px;
				border:#15c7cb 1px solid;
				text-align: center;
				color:#15c7cb;
				line-height: 26px;
				border-radius:5px;
				margin:0 auto;
			}
			&:hover{
				.icon{
					background:#15c7cb;
				}
				.btn{
					color:#fff;
					background:#15c7cb;
				}
			}
		}
	}
}
.im6{
	background:url(../images/im6.png) top center no-repeat;
	height: 917px;	
}
.im7{
	background:url(../images/im7.png) top center no-repeat;
	height: 878px;
}
.im8{
	background:url(../images/im8.png) top center no-repeat;
	height: 891px;
	.btn{
		@include abscenter(180px,40px,747px);
	}
}
.im9{
	background:url(../images/im9.png) top center no-repeat;
	height: 968px;
	
}
