@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

/* $green:#0cd6c8;
$purple:#7a4ffd; */
body{	
	max-width:7.50rem;
	margin:0 auto;
	font-family: "Arial","Microsoft YaHei", "SimHei", "SimSun";		
	background:#ffffff;
}
.head{
	position: relative;
	height:1.08rem;
	margin-bottom: 3.68rem;
	background:#191e2a;
	.logo{
		@include abs(3.03rem,1.08rem,0rem,0rem,null,null,'../images/logo.png');
		a{
			@extend .block;
		}
	}
	.tel{
		@include abs(2.7rem,1.08rem,null,0,0.28rem,null,'../images/tel.png');
		a{
			@extend .block;
		}
	}

}
.banner{
	@include abscenter(7.5rem,3.68rem,1.08rem,'../images/banner.jpg');
}
.main a.more{
	@include abscenterb(3.4rem,0.60rem,0.9rem,null);
		font-size: 0;
}
.im1{
	position:relative;
	margin: -0.52rem auto 0;
	@include whb(7.1rem,8.9rem,'../images/im1.jpg');
	/* a{
		@include abscenter(3.4rem,0.60rem,9.03rem,null);
		font-size: 0;
	} */
	a.more{
		bottom: .83rem;
	}
	ul{
		padding-top: 1.90rem;
		padding-left: .16rem;		
		li{
			position:relative;
			float: left;
			width: 3.20rem;
			height: 1.50rem;
			margin-right: .20rem;
			margin-bottom: .20rem;
			a{
				@extend .block;
			}
		}
	}
}
.im2{
	position:relative;
	margin: 0 auto ;
	@include whb(7.1rem,10.9rem,'../images/im2.jpg');
	ul{
		padding-top: 2.33rem;
		li{
			height: 1.64rem;
			a{
				@extend .block;
				width: 50%;
				&.tr{
					float: right;
				}
				&.tl{
					float: left
				}
			}
		}
	}
}
.im3{
	position:relative;
	overflow: hidden;
	margin: 0 auto ;
	@include whb(7.5rem,10.8rem,'../images/im3.jpg');
	ul{
		margin-top: 2.84rem;
		li{
			float: left;
			width: 3rem;
			height: 3.28rem;
			margin-bottom: 0.4rem;
			&:nth-child(odd){
				margin-left: 0.4rem;
				margin-right: 0.65rem;
			}
			a{
				@extend .block;
			}
		}
	}
}
.im4{
	position:relative;
	margin: 0 auto ;
	@include whb(7.5rem,8.74rem,'../images/im4.jpg');
	a.more{
		bottom:0.81rem;
	}
	ul{
		padding-top: 2.56rem;
		padding-left: 0.3rem;
		li{
			float: left;
			width: 3.35rem;
			height: 2.0rem;
			margin-right: 0.2rem;
			a{
				@extend .block;
			}
		}
	}
}
.im5{
	position:relative;
	margin: 0 auto ;
	@include whb(7.5rem,8.57rem,'../images/im5.jpg');
	a.more{
		bottom:0.4rem;
	}
	ul{
		padding:2.11rem 0 0 0.2rem;
		li{
			float: left;
			width: 2.3rem;
			height: 4.9rem;
			margin-right: 0.12rem;
			a{
				@extend .block;
			}
		}
	}
}
.im6{
	position:relative;
	margin: 0 auto ;
	@include whb(7.5rem,6.22rem,'../images/im6.jpg');
	a.more{
		bottom:0.6rem;
	}
}
.im7{
	position:relative;
	margin: 0 auto ;
	@include whb(7.5rem,8.67rem,'../images/im7.jpg');
	a.more{
		bottom:0.73rem;
	}
}
.im8{
	position:relative;
	margin: 0 auto ;
	@include whb(7.5rem,8.49rem,'../images/im8.jpg');
	
}
.im9{
	position:relative;
	margin: 0 auto ;
	@include whb(7.5rem,2.88rem,'../images/im10.jpg');
	a{
		float: left;
		width: 1.8rem;
		height: 0.60rem;
		margin-top: 1.68rem;
		font-size: 0;
		&.about{
			margin-left: 1.42rem;
			margin-right: 0.78rem
		}
	}
}