@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

$green:#0cd6c8;
$purple:#7a4ffd;
body{	
	font-family: "Arial","Microsoft YaHei", "SimHei", "SimSun";		
}
.im1{
	position: relative;
	width:100%;
	height: 19.2rem;
	background:url(../images/im1-bg.jpg) center bottom no-repeat #2b2e3f;
	background-size:100% auto;
	.tit{
		@include abscenter(4.26rem,1.28rem,1.92rem,'../images/logo.png');
	}
	.txt{
		@include abscenter(9.61rem,5.41rem,4.4rem,'../images/im1-txt.png');
	}
	.btn{
		@include abscenter(3.38rem,1.04rem,10.85rem);
		border:#fff 1px solid;
		border-radius:0.03rem;
		box-shadow:0.02rem 0.02rem 0.03rem #e6e6e8;
		line-height: 1.04rem;
		font-size: 0.36rem;
		a{color: #fff;}
		
	}
	.tel{
		@include abscenter(6rem,1.04rem,12.44rem);
		font-size: 0.6rem;
		color: #17cbbf;
		text-align: center;
	}
}
.im2{
	position: relative;
	height:19.20rem;
	.tit{
		@include abscenter(8.46rem,0.73rem,1.56rem,'../images/im2-tit.png');
	}
	.im2-body{
		@include abscenter(6.93rem,12.49rem,3.26rem,'../images/im2-body.png');
	}
	.btn{
		@include abscenter(3.38rem,1.04rem,16.75rem);
		border:$purple 1px solid;
		border-radius:0.03rem;
		box-shadow:0.02rem 0.02rem 0.03rem #efeaff;
		line-height: 1.04rem;
		font-size: 0.36rem;
		a{color: $purple;}
		
	}
}
.im3{
	position:relative;
	height:19.22rem;
	box-sizing:border-box;
	padding-top: 7rem;
	background:url(../images/im3-bg.jpg) center bottom no-repeat #2b2e3f;
	background-size:100% auto;
	text-align:center;
	.tit{
		@include abscenter(7.96rem,0.79rem,1.50rem,'../images/im3-tit.png');
	}
	.logo{
		@include abscenter(9.67rem,2.57rem,3.38rem,'../images/im3-logo.png');
	}
	.txt{
		font-size: 0.4rem;
		span{color: $green;}
		color: #fff;
		line-height: 150%;
	}
	.split{
		width:3.03rem;
		height: 0.06rem;
		background:$green;
		margin: 0.8rem auto;
	}
	.row{
		margin-top: 1.6rem;
		display: flex;
		justify-content:space-around;
		align-items:center;
		height: 1.5rem;
		width:100%;
		.box{
			display: flex;
			justify-content:space-around;
			align-items:center;
			width: 3.5rem;
			height: 1.5rem;
			background:$purple;
			border-radius:0.1rem;
			font-size: 0.36rem;
			color: #fff;
			line-height: 0.6rem;			
		}
		.yuan{
			width:0.8rem;
			height: 0.8rem;
			background:$purple;
			border-radius:50%;
			font-size: 0.6rem;
			line-height: 0.8rem;
			color: #fff;
		}
	}
}
.im4{
	height:16.28rem;
	position:relative;
	.tit1{
		@include abscenter(7.09rem,1.21rem,0.97rem,'../images/im4-tit1.png');
	}
	.tit2{
		@include abscenter(8.96rem,0.86rem,2.59rem,'../images/im4-tit2.png');
	}
	.im4-body{
		@include abscenter(9.92rem,10.61rem,4.17rem,'../images/im4-body.png');
	}
}
.im5{
	height:19.2rem;
	position:relative;
	background:url(../images/im5-bg.jpg) center bottom no-repeat #2b2e3f;
	background-size:100% auto;
	.tit{
		@include abscenter(9.37rem,0.97rem,1.92rem,'../images/im5-tit.png');
	}
	.txt{
		text-align: center;
		padding-top: 4.35rem;
		font-size: 0.48rem;
		color: #838892;
		line-height: 0.9rem;
		span{
			color: $green;
			font-size: 0.6rem;
		}
	}
}
.im6{
	position:relative;
	height:21.13rem;
	border-bottom:#eaeaec 1px solid;
	.row1{
		height: 6.84rem;
		border-bottom:#eaeaec 1px solid;
		box-sizing:border-box;
		padding-top: 0.72rem;
		.intro{
			padding-top: 0.88rem;
			line-height: 0.64rem;			
			width:5.77rem;
			text-align: center;
			float: left;
			font-size: 0.36rem;
			span{
				color: $purple;
			}
		}
		.pic1{
			width:5.02rem;
			height:5.51rem;
			background:url(../images/im6-pic.jpg);
			background-size:cover;
			float: right;
		}
	}
	.row2{
		ul li{
			width:50%;
			height: 7.12rem;
			float: left;
			box-sizing:border-box;
			padding:0.9rem 0.8rem 0;	
			text-align: center;		
			img{
				display: inline-block;
				width:2.7rem;
				height: 2.7rem;
				margin: 0 auto;
			}
			.txt{
				text-align: left;
				font-size: 0.36rem;
				line-height: 0.5rem;
				color: #818181;
				h3{
					color: $purple;
					display: inline-block;
					font-size: 0.36rem;
					font-weight: normal;
				}
			}
		}
	}
}
.im7{
	height:11.78rem;
	position:relative;
	.im7-tit{
		@include abscenter(9.46rem,1.61rem,1.02rem,'../images/im7-tit.png');
	}
	.im7-tit2{
		@include abscenter(5.42rem,0.82rem,3.36rem);
		border:$purple 0.04rem solid;
		text-align: center;
		font-size: 0.36rem;
		color: $purple;
		line-height: 0.82rem;
		position:relative;
		&::before{
			content: '';
			position:absolute;
			z-index: 1;
			left: 50%;
			margin-left: -0.13rem;			
			top: 0.82rem;
			width:0;
			height: 0;
			border-width:0.26rem 0.14rem;
			border-style:solid dashed dashed;
			border-color:$purple transparent transparent;
		}
		&::after{
			content: '';
			position:absolute;
			z-index: 2;
			left: 50%;
			margin-left: -0.13rem;			
			top: 0.76rem;
			width:0;
			height: 0;
			border-width:0.26rem 0.14rem;
			border-style:solid dashed dashed;
			border-color:#fff transparent transparent;
		}
	}
	.logos{
		@include abscenter(9.67rem,5.61rem,4.99rem,'../images/im7-links.jpg');
	}
}
.im8{
	height:14.56rem;
	position:relative;
	border-bottom:#eaeaec 1px solid;
	.im8-tit{
		@include abscenter(8.95rem,0.94rem,1.18rem,'../images/im8-tit.png');
	}
	.im8-body{
		@include abscenter(8.95rem,6.72rem,3.02rem,'../images/im8-pic.png');
	}
	.btn{
		@include abscenter(3.38rem,1.02rem,12rem);
		a{color: $purple;}
		font-size: 0.36rem;
		line-height: 1.02rem;
		text-align: center;
		border:$purple 1px solid;
		border-radius:0.1rem;
	}
}
.im9{
	height:26.76rem;
	position:relative;
	.im9-tit{
		@include abscenter(7.2rem,3.75rem,1.31rem,'../images/im9-tit.png');
	}
	.plist{
		padding-top: 6.2rem;
		ul li{
			width:50%;
			box-sizing:border-box;
			float: left;
			height: 6.54rem;
			font-size: 0.36rem;
			line-height: 0.5rem;			
			padding-left: 0.89rem;
			padding-right: 0.41rem;
			h3{
				font-weight: normal;
				font-size: 0.36rem;
				color: $purple;
				display: inline-block;
			}
			img{
				width: 2.7rem;
				height: 2.7rem;	
				margin-bottom: 0.4rem;			
			}
			.intro{
				color: #818181;
			}
		}
	}
	.im9-tit2{
		@include abscenter(3.71rem,0.72rem,19.53rem,'../images/im9-tit2.png');
	}
	.box{
		@include abscenter(6.8rem,4.2rem,21.08rem);	

		.hd{
			display: none;
		}
		.bd{
			width:6.8rem;
			overflow: hidden;
			img{
				width:6.8rem;
				height: 4.2rem;
			}
		}
		.prev,.next{
			position:absolute;
			width: 0.4rem;
			height: 0.73rem;
			top: 1.74rem;


		}
		.prev{
			left: -1.27rem;
			background:url(../images/left-arr.png);
			background-size:100% 100%;
			&:hover{
				background:url(../images/left-arr-hover.png);
				background-size:100% 100%;
			}
		}
		.next{
			right: -1.27rem;
			background:url(../images/right-arr.png);
			background-size:100% 100%;
			&:hover{
				background:url(../images/right-arr-hover.png);
				background-size:100% 100%;
			}
		}
	}
}
.im10{
	position:relative;
	height:14.63rem;
	border-bottom:#eaeaec 1px solid;
	.im10-tit{
		@include abscenter(10.8rem,2rem,0rem,'../images/im10-tit.png');
	}
	.im10-body{
		display: flex;
		justify-content: space-around;
		align-items:center;
		padding-top: 3.2rem;

		.col{
			&.col-1 .ico{
				background:url(../images/im10-ico1.png);
				background-size:100% 100%;
			}
			&.col-2 .ico{
				background:url(../images/im10-ico2.png);
				background-size:100% 100%;
			}
			&.col-3 .ico{
				background:url(../images/im10-ico3.png);
				background-size:100% 100%;
			}
			&:hover .yuan{
				background:$purple;
			}

			h3{
				font-size: 0.48rem;
				line-height: 1.6rem;
				color: $purple;
				text-align: center;
			}
			.yuan{
				position:relative;
				margin: 0 auto;
				width:2.5rem;
				height: 2.5rem;
				border-radius:50%;
				background:$green;
				display: flex;
				justify-content: center;
				align-items:center;
				.ico{
					width:1.28rem;
					height: 1.28rem;					
				}
			}
			.btn{
				width:2.8rem;
				height: 0.78rem;
				line-height: 0.78rem;
				text-align: center;
				border:$purple 1px solid;
				border-radius:0.1rem;
				font-size: 0.36rem;
				a{color: $purple;}
				margin-top: 0.72rem;
			}
		}
	}
	.im10-txt{
		color: #818181;
		text-align: center;
		font-size: 0.36rem;
		line-height: 0.67rem;
		span{
			color: $purple;
		}
		margin: 0.9rem auto;
	}
	.im10-btn{
		width: 3.38rem;
		height: 1.04rem;
		margin: 0 auto;
		text-align: center;
		line-height: 1.04rem;
		font-size: 0.36rem;
		a{
			color: $purple;
		}
		border-radius:0.1rem;
		border:$purple 1px solid;
	}
}
.im11{
	position:relative;
	height:25.02rem;
	.im11-tit{
		@include abscenter(10.28rem,0.79rem,1.12rem,'../images/im11-tit.png');
	}
	.im11-body{
		box-sizing:border-box;

		padding: 2rem 0.42rem 0;
		.item{
			margin-top: 0.72rem;
			.question{ height:0.84rem;
				overflow: hidden;
				.no{
					display: inline-block;
					width: 0.4rem;
					height: 0.4rem;
					background:$purple;
					font-size: 0.24rem;
					color: #fff;
					text-align: center;
					line-height: 0.4rem;
					margin-right: 0.24rem;
					float: left;
				}
				.tit{
					float: left;
					display: inline-block;
					line-height: 0.4rem;
					color: #818181;
					font-size: 0.4rem;
				}
			}
			.options{
				
				display: flex;
				justify-content: flex-start;
				align-items:center;
				align-content:space-around;
				flex-wrap:wrap;
			}
			input{
				display: none;
			}
			label{
				display: inline-block;
				position:relative;
				color: #818181;
				font-size: 0.36rem;		
				width:33%;		
				line-height: 0.8rem;
				box-sizing:border-box;
				padding-left: 0.5rem;
				&::before{
					content: '';
					position:absolute;
					width: 0.28rem;
					height: 0.28rem;
					border:#818181 1px solid;
					border-radius:50%;
					left: 0;
					top: 0.26rem;
					z-index: 1;
				}
			}
			input:checked + label{
				&::before{
					background:$purple ;
					border:$purple 1px solid;
					 box-shadow: inset 0 0 0 0.07rem rgba(255, 255, 255, 1);
				}
				/* &::after{
					z-index: 2;
					content: '';
					position:absolute;
					width: 0.14rem;
					height: 0.14rem;
					background:$purple;
					border-radius:50%;
					left: 0.09rem;
					top: 0.35rem;
				} */
			}
		}

	}
	.txt2{
			font-size: 0.4rem;
			line-height: 0.6rem;
			color: #818181;
			margin: 0.57rem auto;
			text-align: center;
	}
	.ipt{
		width:7.5rem;
		height: 1rem;
		margin: 0 auto;
		input{
			width: 7.48rem;
			height: 0.98rem;
			line-height: 0.98rem;
			box-sizing:border-box;
			padding-left: 0.3rem;
			font-size: 0.3rem;
			color: #818181;
			border: 1px #818181 solid;
		}
	}
	
		
		input[type="submit"]{
			display: block;
		@extend .reset;
		width:3.38rem;
		height: 1.04rem;
		margin: 0.8rem auto;		
		text-align: center;
		background-color: $purple;
		color: #fff;			
		font-size: 0.4rem;
		color: #fff;			
		line-height: 1.04rem;

		}
.txt3{
	font-size:0.3rem;
	color:#818181;
	text-align:center;
}	

}