@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

$green:#0cd6c8;
$purple:#7a4ffd;
body{	
	font-family: "Arial","Microsoft YaHei", "SimHei", "SimSun";		
}


.section {
  text-align:center;
  font-size: 3em;
}
.content{
  margin:450px;
}
.content3{
  margin:1450px
}
#menu{
	position: fixed;
	z-index:999;
}
#footer{
	position:fixed;
	z-index:999;
	bottom: 0;

}

