@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

$green:#0cd6c8;
$purple:#7a4ffd;
body{	
	font-family: "Arial","Microsoft YaHei", "SimHei", "SimSun";		
}
