#div1 {position:relative; width:800px; height:300px; margin: 0px auto 0; }
#div1 a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#434552; font-weight:bold; text-decoration:none; padding: 4px 6px; }
#div1 a:hover {border: 1px solid #eee; background: #eee;  }
#div1 a.color1 {color:#febe16;}
#div1 a.color2 {color:#865ffd;}
#div1 a.color3 {color:#0ec9bc;}
